/nbproject/private/
/UMLFileTypes/nbproject/private/
/JavaParser/nbproject/private/
/UMLVisual/nbproject/private/
/UMLModel/nbproject/private/
/dom4j/nbproject/private/
/UMLCodeGenerator/nbproject/private/
/UMLExplorer/nbproject/private/
/UMLReverseEngineering/nbproject/private/
/UMLProjectType/nbproject/private/
/easyUML/nbproject/private/
/build/
/JavaParser/build/
/UMLModel/build/
/dom4j/build/
/UMLExplorer/build/
/UMLVisual/build/
/UMLFileTypes/build/
/UMLProjectType/build/
/easyUML/build/
/UMLCodeGenerator/build/
/UMLReverseEngineering/build/